<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/datail.css">
    <link rel="stylesheet" href="../font_reavitul6lk/iconfont.css">
</head>
<body>
    <div class="nav">
        <p class="loge">MEIZU</p>
        <a href="https://lists.meizu.com/page/list?categoryid=76">手机</a>
        <a href="https://lists.meizu.com/page/list/?categoryid=382">Lipro</a>
        <a href="https://lists.meizu.com/page/list/?categoryid=231">声学</a>
        <a href="">配件</a>
        <a href="">生活</a>
        <a href="">Flyme</a>
        <a href="">服务</a>
        <a href="">专卖店</a>
        <a href="">社区</a>
        <a href="">企业文化</a>
        <a href="">APP下载</a>
        <div class="inp">
            <input type="text" class="fir_inp" placeholder="魅族17">
            <input type="button" class="sec_inp" value=" ">
            <ul class="list"></ul>
        </div>
        <div class="font">
            <i class="iconfont">&#xe629;
                <ul class="list2">
                    <li class="li1">立即登录</li>
                    <li>购物车</li>
                    <li>我的订单</li>
                    <li>M码通道</li>
                </ul>
            </i>
            <i class="iconfont">&#xe64f;
                <span class="zero">0</span>
            </i>
        </div>
    </div>
<div class="nav1">
    <span>魅族&nbsp;17&nbsp;Pro&nbsp;晓芳窑艺术典藏版</span><b>魅族17航母限定版</b>概述&nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;魅族17Pro晓芳窑艺术典藏版&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;参数&nbsp;&nbsp;|&nbsp;&nbsp;换机指引
</div>
<div class="box">
    <div class="show">
    <img src="https://openfile.meizu.com/group1/M00/07/CF/Cgbj0F61BXaARxdvAAqWtjjyY08964.png@480x480.jpg">
        <div class="mask"></div>
    </div>
    <div class="list">
        <img src="https://openfile.meizu.com/group1/M00/07/CF/Cgbj0F61BXaARxdvAAqWtjjyY08964.png@480x480.jpg" data-show="https://openfile.meizu.com/group1/M00/07/CF/Cgbj0F61BXaARxdvAAqWtjjyY08964.png@480x480.jpg" data-warp="https://openfile.meizu.com/group1/M00/07/CF/Cgbj0F61BXaARxdvAAqWtjjyY08964.png680x680.jpg">
        <img src="https://openfile.meizu.com/group1/M00/07/E4/Cgbj0V61BXaAIziBAANqTXuAtuM977.png680x680.jpg" data-show="https://openfile.meizu.com/group1/M00/07/E4/Cgbj0V61BXaAIziBAANqTXuAtuM977.png680x680.jpg" data-warp="https://openfile.meizu.com/group1/M00/07/E4/Cgbj0V61BXaAIziBAANqTXuAtuM977.png680x680.jpg">
        <img src="https://openfile.meizu.com/group1/M00/07/E4/Cgbj0V61BX2AFUy6AAbcP9Z9e6w628.png680x680.jpg" data-show="https://openfile.meizu.com/group1/M00/07/E4/Cgbj0V61BX2AFUy6AAbcP9Z9e6w628.png680x680.jpg" data-warp="https://openfile.meizu.com/group1/M00/07/E4/Cgbj0V61BX2AFUy6AAbcP9Z9e6w628.png680x680.jpg">
        <img src="https://openfile.meizu.com/group1/M00/07/D9/Cgbj0V6zwMWASoKjAAKhvZAJDTU118.png680x680.jpg" data-show="https://openfile.meizu.com/group1/M00/07/D9/Cgbj0V6zwMWASoKjAAKhvZAJDTU118.png680x680.jpg" data-warp="https://openfile.meizu.com/group1/M00/07/D9/Cgbj0V6zwMWASoKjAAKhvZAJDTU118.png680x680.jpg">
    </div>
    <div class="warp">
    </div>
</div>
<div class="detail">
    <h1>魅族 17 Pro 晓芳窑艺术典藏版</h1>
    <h6>这艺术，科技极了</h6>
    <div class="money">
        <small>￥</small>
        <span>9999</span>
    </div>
    <div class="menu">
        <span>配送到</span>
        <select class="sheng">
            <option value="">北京</option>
            <option value="">河北</option>
            <option value="">天津</option>
            <option value="">陕西</option>
            <option value="">山西</option>
            <option value="">辽宁</option>
        </select>
        <select class="xian">
            <option value="">北京市</option>
            <option value="">张家口</option>
            <option value="">天津市</option>
            <option value="">西安</option>
            <option value="">大同</option>
            <option value="">阜新</option>
        </select>
    </div>
    <span class="ban">版本</span>
    <div class="banben">全网通公开版&nbsp;12+256GB</div>
    <span class="ban">颜色</span>
    <div class="banben">天青</div>
    <div class="money">
        <small>￥</small>
        <span>9999</span>
        <i>已选：魅族 17 Pro 晓芳窑艺术典藏版、全网通公</br>开版 12+256GB、天青、全款、1件</i>
    </div>
    <input type="button" value="售罄" class="button">
</div>
<div class="picwarp">
    <div class="pic">
        <img src="https://openfile.meizu.com/group1/M00/07/CF/Cgbj0F61CUGAJNxZAAhEY4KL7NI537.jpg" alt="">
        <img src="https://openfile.meizu.com/group1/M00/07/E5/Cgbj0V61CUWAYN6IAARPLo75dKE548.jpg" alt="">
    </div>
</div>
<script src="../js/datail.js"></script>
</body>
</html>