<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../font_reavitul6lk/iconfont.css">
</head>
<body>
    <div class="banner">
        <ul class="imgbox">
            <li><img src="https://fms.res.meizu.com/dms/2021/01/11/4add8ee2-aeca-429b-a68e-cddf11a9262b.jpg" alt=""></li>
            <li><img src="../images/a2.jpg" alt=""></li>
            <li><img src="../images/a3.jpg" alt=""></li>
            <li><img src="../images/a4.jpg" alt=""></li>
            <li><img src="../images/a5.jpg" alt=""></li>
            <li><img src="../images/a6.jpg" alt=""></li>
            <li><img src="../images/a7.jpg" alt=""></li>
            <li><img src="../images/a8.jpg" alt=""></li>
        </ul>
        <ol class="JDbox">
        </ol>
        <div class="button">
            <div class="left"></div>
            <div class="right"></div>
        </div>
        <div class="nav">
            <p class="loge">MEIZU</p>
            <a href="https://lists.meizu.com/page/list?categoryid=76">手机</a>
            <a href="https://lists.meizu.com/page/list/?categoryid=382">Lipro</a>
            <a href="https://lists.meizu.com/page/list/?categoryid=231">声学</a>
            <a href="">配件</a>
            <a href="">生活</a>
            <a href="">Flyme</a>
            <a href="">服务</a>
            <a href="">专卖店</a>
            <a href="">社区</a>
            <a href="">企业文化</a>
            <a href="">APP下载</a>
            <div class="inp">
                <input type="text" class="fir_inp" placeholder="魅族17">
                <input type="button" class="sec_inp" value=" ">
                <ul class="list"></ul>
            </div>
            <div class="font">
                <i class="iconfont">&#xe629;
                    <ul class="list2">
                        <li class="li1">立即登录</li>
                        <li>购物车</li>
                        <li>我的订单</li>
                        <li>M码通道</li>
                    </ul>
                </i>
                <i class="iconfont">&#xe64f;
                    <span class="zero">0</span>
                </i>
            </div>
        </div>
    </div>
    <div class="main1">
        <p><img src="../images/main1_03.jpg" alt=""></p>
        <p><img src="../images/main1_06.jpg" alt=""></p>
        <p><img src="../images/main1_09.jpg" alt=""></p>
        <p><img src="../images/main1_12.jpg" alt=""></p>
    </div>

    <div class="main2">
        <h1>手机</h1>
        <div class="pic">
            <img src="https://fms.res.meizu.com/dms/2021/01/11/b4f7f207-0082-4de3-8cd8-4da8dc40c053.jpg" alt="">
        </div>
        <div class="phone">
            <a href="../views/datail.html"><img src="../images/phone_03.jpg" alt=""></a>
            <a href="../views/datail.html"><img src="../images/phone_03.jpg" alt=""></a>
            <a href="../views/datail.html"><img src="../images/phone_03.jpg" alt=""></a>
        </div>
        <div class="phone2">
            <a href="../views/datail.html"><img src="../images/phone_06.jpg" alt=""></a>
            <a href="../views/datail.html"><img src="../images/phone_06.jpg" alt=""></a>
            <a href="../views/datail.html"><img src="../images/phone_06.jpg" alt=""></a>
            <a href="../views/datail.html"><img src="../images/phone_06.jpg" alt=""></a>
        </div>
        <h1>Lipro智能家具</h1>
        <div class="banner2"><img src="https://fms.res.meizu.com/dms/2021/01/05/8ebe3896-7609-441b-af33-365779ad9480.jpg" alt=""></div>
        <div class="pic2">
            <a href=""><img src="../images/banner3_03.jpg" alt=""></a>
            <a href=""><img src="../images/banner3_05.jpg" alt=""></a>
            <a href=""><img src="../images/banner3_07.jpg" alt=""></a>
            <a href=""><img src="../images/banner3_09.jpg" alt=""></a>
            <a href=""><img src="../images/banner3_15.jpg" alt=""></a>
            <a href=""><img src="../images/banner3_16.jpg" alt=""></a>
            <a href=""><img src="../images/banner3_17.jpg" alt=""></a>
            <a href=""><img src="../images/banner3_18.jpg" alt=""></a>
        </div>
        <h1>魅族声学</h1>
        <div class="banner3"><img src="https://fms.res.meizu.com/dms/2021/01/11/4add8ee2-aeca-429b-a68e-cddf11a9262b.jpg" alt=""></div>
        <div class="pic2">
            <a href=""><img src="../images/pic3_03.jpg" alt=""></a>
            <a href=""><img src="../images/banner3_05.jpg" alt=""></a>
            <a href=""><img src="../images/banner3_07.jpg" alt=""></a>
            <a href=""><img src="../images/banner3_09.jpg" alt=""></a>
            <a href=""><img src="../images/pic3_06.jpg" alt=""></a>
            <a href=""><img src="../images/banner3_16.jpg" alt=""></a>
            <a href=""><img src="../images/banner3_17.jpg" alt=""></a>
            <a href=""><img src="../images/banner3_18.jpg" alt=""></a>
        </div>
    </div>
    <div class="connet_one">
        <div class="connet_one_one">
            <h2>手机精选</h2>
            <ul class="for_list">
                <li class="active">推荐 <span></span></li>
                <li>精品<span></span></li>
                <li>价格<span></span></li>
            </ul>
        </div>
        <div class="connet_one_two q1 active">
            <div class="connet_one_two1">
                <div class="connet_one_two1_1">
                    <img src="../images/xuanxiangka_03.jpg" alt="">
                    <p class="sell-point">魅族17Pro晓芳窑艺术典藏版</p>
                    <div class="plate-primary-price">
                        ￥
                        <span class="font-bold tag-product-price" data-id="307">8,999</span>
                        <del class="del-price" style="display: inline;">￥<span>9,999</span></del>
                        <span class="price-from">起 </span>
                    
                    </div>
                </div>
                <img src="https://openfile.meizu.com/group1/M00/07/CF/Cgbj0F61BXaARxdvAAqWtjjyY08964.png@480x480.jpg" alt="">
            </div>
            <div class="connet_one_two2">
                <div class="connet_one_two2_2">
                    <img src="../images/xuanxiangka_03.jpg" alt="">
                    <p class="sell-point">全场景 AR 专业影像系统<br>航母限定版</p>
                    <div class="plate-primary-price">
                        ￥
                        <span class="font-bold tag-product-price" data-id="281">4,399</span>
                        <span class="price-from">起 </span>
                    </div>
                </div>
                <img src="https://openfile.meizu.com/group1/M00/07/E5/Cgbj0V61DmKAarkmAAUGRp7cOD4317.png@480x480.jpg" alt="">
            </div>
        </div>
        <div class="connet_one_thr q1">
            <div class="connet_one_thr1">
                <img src="https://openfile.meizu.com/group1/M00/07/C5/Cgbj0F6zwUqAdPsoAAtCAjTT7ek670.png@480x480.jpg" alt="">
                <div class="connet_one_thr1_1">
                    <img src="../images/xuanxiangka_03.jpg" alt="">
                    <p class="sell-point">听觉盛宴</p>
                    <div class="plate-normal-price">
                        ￥
                        <span class="font-bold tag-product-price" data-id="300">4,348</span>
                        <del class="del-price" style="display: inline;">￥<span>4,548</span></del>
                        <span class="price-from">起 </span>
                    </div>
                </div>
            </div>
            <div class="connet_one_thr1">
                <img src="https://openfile.meizu.com/group1/M00/07/C5/Cgbj0F6zwUqAdPsoAAtCAjTT7ek670.png@480x480.jpg" alt="">
                <div class="connet_one_thr1_1">
                    <img src="../images/xuanxiangka_03.jpg" alt="">
                    <p class="sell-point">听觉盛宴</p>
                    <div class="plate-normal-price">
                        ￥
                        <span class="font-bold tag-product-price" data-id="300">4,348</span>
                        <del class="del-price" style="display: inline;">￥<span>4,548</span></del>
                        <span class="price-from">起 </span>
                    </div>
                </div>
            </div>
            <div class="connet_one_thr1">
                <img src="https://openfile.meizu.com/group1/M00/07/C5/Cgbj0F6zwUqAdPsoAAtCAjTT7ek670.png@480x480.jpg" alt="">
                <div class="connet_one_thr1_1">
                    <img src="../images/xuanxiangka_03.jpg" alt="">
                    <p class="sell-point">听觉盛宴</p>
                    <div class="plate-normal-price">
                        ￥
                        <span class="font-bold tag-product-price" data-id="300">4,348</span>
                        <del class="del-price" style="display: inline;">￥<span>4,548</span></del>
                        <span class="price-from">起 </span>
                    </div>
                </div>
            </div>
            <div class="connet_one_thr1">
                <img src="https://openfile.meizu.com/group1/M00/07/C5/Cgbj0F6zwUqAdPsoAAtCAjTT7ek670.png@480x480.jpg" alt="">
                <div class="connet_one_thr1_1">
                    <img src="../images/xuanxiangka_03.jpg" alt="">
                    <p class="sell-point">听觉盛宴</p>
                    <div class="plate-normal-price">
                        ￥
                        <span class="font-bold tag-product-price" data-id="300">4,348</span>
                        <del class="del-price" style="display: inline;">￥<span>4,548</span></del>
                        <span class="price-from">起 </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="connet_one_for q1">
            <div class="connet_one_for1">
                <div class="connet_one_for1_1">
                    <div class="connet_one_two1_1">
                        <img src="../images/xuanxiangka_03.jpg" alt="">
                        <p class="sell-point">魅族17Pro晓芳窑艺术典藏版</p>
                        <div class="plate-primary-price">
                            ￥
                            <span class="font-bold tag-product-price" data-id="307">1,399</span>
                            <del class="del-price" style="display: inline;">￥<span>1,499</span></del>
                            <span class="price-from">起 </span>
                        </div>
                    </div>
                    <img src="https://openfile.meizu.com/group1/M00/07/CF/Cgbj0F61BXaARxdvAAqWtjjyY08964.png@480x480.jpg" alt="">
                </div>
                <div class="connet_one_for1_2">
                    <div class="connet_one_two1_1">
                        <img src="../images/xuanxiangka_03.jpg" alt="">
                        <p class="sell-point">全场景 AR 专业影像系统<br>航母限定版</p>
                        <div class="plate-primary-price">
                            ￥
                            <span class="font-bold tag-product-price" data-id="307">1,399</span>
                            <del class="del-price" style="display: inline;">￥<span>1,499</span></del>
                            <span class="price-from">起 </span>
                        
                        </div>
                        
                    </div>
                    <img src="https://openfile.meizu.com/group1/M00/07/E5/Cgbj0V61DmKAarkmAAUGRp7cOD4317.png@480x480.jpg" alt="">
                </div>
            </div>
            <div class="connet_one_for2">
                <div class="connet_one_for2_1">
                    <div class="connet_one_thr1">
                        <img src="https://openfile.meizu.com/group1/M00/07/C5/Cgbj0F6zwUqAdPsoAAtCAjTT7ek670.png@480x480.jpg" alt="">
                        <div class="connet_one_thr1_1">
                            <img src="../images/xuanxiangka_03.jpg" alt="">
                            <p class="sell-point">听觉盛宴</p>
                            <div class="plate-normal-price">
                                ￥
                                <span class="font-bold tag-product-price" data-id="300">4,348</span>
                                <del class="del-price" style="display: inline;">￥<span>4,548</span></del>
                                <span class="price-from">起 </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="connet_one_for2_2">
                    <div class="connet_one_thr1">
                        <img src="https://openfile.meizu.com/group1/M00/07/C5/Cgbj0F6zwUqAdPsoAAtCAjTT7ek670.png@480x480.jpg" alt="">
                        <div class="connet_one_thr1_1">
                            <img src="../images/xuanxiangka_03.jpg" alt="">
                            <p class="sell-point">听觉盛宴</p>
                            <div class="plate-normal-price">
                                ￥
                                <span class="font-bold tag-product-price" data-id="300">4,348</span>
                                <del class="del-price" style="display: inline;">￥<span>4,548</span></del>
                                <span class="price-from">起 </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="connet_one_for2_3">
                    <div class="connet_one_thr1">
                        <img src="https://openfile.meizu.com/group1/M00/07/C5/Cgbj0F6zwUqAdPsoAAtCAjTT7ek670.png@480x480.jpg" alt="">
                        <div class="connet_one_thr1_1">
                            <img src="../images/xuanxiangka_03.jpg" alt="">
                            <p class="sell-point">听觉盛宴</p>
                            <div class="plate-normal-price">
                                ￥
                                <span class="font-bold tag-product-price" data-id="300">4,348</span>
                                <del class="del-price" style="display: inline;">￥<span>4,548</span></del>
                                <span class="price-from">起 </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="connet_one_for2_4">
                    <div class="connet_one_thr1">
                        <img src="https://openfile.meizu.com/group1/M00/07/C5/Cgbj0F6zwUqAdPsoAAtCAjTT7ek670.png@480x480.jpg" alt="">
                        <div class="connet_one_thr1_1">
                            <img src="../images/xuanxiangka_03.jpg" alt="">
                            <p class="sell-point">听觉盛宴</p>
                            <div class="plate-normal-price">
                                ￥
                                <span class="font-bold tag-product-price" data-id="300">4,348</span>
                                <del class="del-price" style="display: inline;">￥<span>4,548</span></del>
                                <span class="price-from">起 </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
    <script src="../js/index.js"></script>
</body>
</html>