<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div class="top">
        <h1>MEIZU</h1>
    </div>
    <div class="banner">
        <div class="logo">
            <img src="../images/top1_03.jpg" alt="">
            <div class="login">
                <h2>账号登录</h2>
                <input type="text" placeholder="手机号/Flyme账号" class="text">
                <input type="password" placeholder="密码" class="password">
                <input type="button" value="登录" class="submit">
                <ul class="list">
                    <li class="zhuce">注册</li>
                    <li>忘记密码？</li>
                </ul>
            </div>
            <div class="reg">
                <h2>注册Flyme账号</h2>
                <input type="text" placeholder="账号/Flyme账号" class="text2">
                <input type="password" placeholder="密码" class="password2">
                <input type="password" placeholder="确认密码" class="password3">
                <input type="button" value="立即注册" class="submit2">
                <ul class="list2">
                    <li class="denglu">取消</li>
                </ul>
            </div>
        </div>
        <ul class="footer">
            <li><a href="">关于魅族</a></li>
            <li><a href="">工作机会</a></li>
            <li><a href="">联系我们</a></li>
            <li><a href="">法律声明</a></li>
            <li><a href="">常见问题</a></li>
            <li><a href="">简体中文</a></li>
            <p class="kefu">客服热线&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;400-788-3333</p>
            <p class="zaixian">在线客服</p>
            <p class="pic">
                <a href=""><img src="../images/top1_07.jpg" alt=""></a>
                <a href=""><img src="../images/top1_09.jpg" alt=""></a>
                <a href=""><img src="../images/top1_11.jpg" alt=""></a>
            </p>
        </ul>
        <p class="last">&copy;2021&nbsp;&nbsp;Meizu Telecom Equipment Co.,Ltd.All rights reserved. &nbsp;&nbsp;备案号:粤ICP备13003602号-4&nbsp;&nbsp; 经营许可证编号:粤B2-20130198&nbsp;&nbsp; 营业执照&nbsp;&nbsp;&nbsp;粤公安网备&nbsp;&nbsp;&nbsp;44049102496076号</p>
    </div>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/login.js"></script>
</body>
</html>